

.admin-product-content{
    display: flex;
    column-gap: 50px;
    row-gap: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.admin-product-block{
    flex-basis: 290px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 0px 30px gainsboro;
    border-radius: 10px;
}

.admin-right-product-img{
    width: 150px;
    height: 180px;
    margin: auto;
    padding: 20px 0px;
}

.admin-right-product-text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.admin-right-product-text a{
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    margin-top: 15px;
}

.admin-right-pagination{
    padding: 50px 0px;
}

.admin-right-pagination a{
    text-decoration: none;
    color: white;
    background-color: darkblue;
    padding: 8px 10px;
}